<body class="bodyChat">
<main>
  <div class="homeButton">
    <a href="/products">
      <img class="iconChat" src="https://www.svgrepo.com/show/533593/arrow-left.svg" alt="" width="64px" height="64px">
  </a>
  </div>
  <div class="chatConteiner">
    <h1 class="chatColorText">Chat</h1>
      <form action="">
        <h2>Ingrese su email para visualizar y enviar mensajes</h2>
        <input type="email" placeholder="Ingresa tu email: " id="email-input">
        <input class="sendButton" type="submit">
      </form>
  </div>
  <div>
    <h4>Chat</h4>
  </div>
</main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/script.js"></script>