<nav class="navBar">
  <h1 class="loginColorH1">Login</h1>
</nav>
<div class="formConteiner">
  <form action="/api/session/login" method="POST" style="padding: 40px">
  <div class="loginSession">
      <label class="loginLabel" "email">Email:</label>
      <input name="email" type="text">
      <label class="loginLabel" for="password">Password:</label>
      <input name="password" type="text">
      <br>
      <br>
        <button type="submit">Log In</button>
        <br>
        <button><a href="/api/session/github">Login with Github</a></button>
        <br>
        <button><a href="/register">Registrate</a></button>
      </div>
    </div>
  </form>
</div>