<nav class="navBar">
  <h1 class="loginColorH1">Register Page</h1>
</nav>
<div class="homeButtonRegister">
	<a href="/login">
		<img class="iconChat" src="https://www.svgrepo.com/show/533593/arrow-left.svg" alt="" width="64px" height="64px">
	</a>
</div>
<div class="formConteiner">
  <form class="textRegisterColor" style="padding: 40px">
    <div class="registerSession">

        <label class="registerLabel" for="email">Email:</label>
        <input name="email" type="text" id="email">

        <label class="registerLabel" for="password">Password:</label>
        <input name="password" type="text" id="password">

        <label class="registerLabel" for="first-name">First Name:</label>
        <input name="first-name" type="text" id="first_name">

        <label class="registerLabel" for="last-name">Last Name:</label>
        <input name="last-name" type="text" id="last_name">
      
      
        <label class="registerLabel" for="age">Age:</label>
        <input name="age" type="number" id="age">
      
      <br>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
<script>
  const form = document.querySelector("form")
  form.addEventListener("submit", e => {
    e.preventDefault()
    const formData = {
      email: document.getElementById("email").value,
      password: document.getElementById("password").value,
      first_name: document.getElementById("first_name").value,
      last_name: document.getElementById("last_name").value,
      age: document.getElementById("age").value
    }
    formData.role = formData.email == "adminCoder@coder.com" ? "admin" : "user"
    fetch("/api/session/register", {method: "POST", body: JSON.stringify(formData), headers: {"Content-Type": "application/json"}})
      .then((json) => json.json())
      .then((res) => window.location.replace("/"+res.url))
  })
</script>
<footer class="fixFooter">
	Copyright ©CompuSV
</footer>